body, html {
    min-width: 365px;
}

.bg-light { background-color: #fafafa !important; }
.border-light { border-color: #e6e6e6 !important; }

a.link-over::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

a.link-over:hover::before, a.link-over:focus::before {
    background-color: rgba(0,0,0,0.25);
}

@media(max-width: 736px) {
    .row.my-5 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

.grid .grid-item {
    padding: .75rem 1.25rem;
}

.grid .grid-item:nth-child(3n) {
    padding: .75rem 2rem .75rem .75rem;
}

.grid .grid-item:nth-child(3n+1) {
    padding: .75rem .75rem .75rem 2rem;
}

@media(max-width: 736px) {
    .grid .grid-item {
        padding: 1px 1px 2px 1px;
    }

    .grid .grid-item:nth-child(3n) {
        padding: 1px 0 2px 2px;
    }

    .grid .grid-item:nth-child(3n+1) {
        padding: 1px 2px 2px 0;
    }
}

@media(min-width: 576px) { .navbar > .container { max-width: none; } }
@media(min-width: 768px) { .navbar > .container { max-width: none; } }
@media(min-width: 992px) { .navbar > .container { max-width: calc(960px + 3rem); } }
@media(min-width: 1200px) { .navbar > .container { max-width: calc(960px + 3rem); } }

@media(min-width: 576px) { .container { max-width: none; } }
@media(min-width: 768px) { .container { max-width: none; } }
@media(min-width: 992px) { .container { max-width: 960px; } }
@media(min-width: 1200px) { .container { max-width: 1140px; } }

.card-picture {
    position: relative;
    flex-direction: row;
    justify-content: start;
}

.card-picture .card-body {
    max-width: 335px;
    flex: 1 0 335px;
}

.card-picture .card-img-left {
    max-width: calc(100% - 335px);
    flex: 1 0 calc(100% - 335px);
    border-top-left-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
}

@media(max-width: 736px) {
    .card-picture {
        position: relative;
        flex-direction: column;
        justify-content: start;
    }

    .card-picture .card-body {
        max-width: 100%;
        flex: 1 0 100%;
    }

    .card-picture .card-img-left {
        max-width: 100%;
        flex: 1 0 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }
}

.list-group-item .media svg {
    height: 1.25rem;
    margin-top: .25rem; 
    margin-bottom: .25rem; 
    width: auto;
    min-width: 1.25rem
}

.list-group-item .media .media-body {
    max-width: calc(100% - 1.25rem);
}

.small {
    font-size: 80%;
    font-weight: 400;
    line-height: 1.125;
}

.input-group-prepend .input-group-text svg {
    width: calc(45px - 1.5rem);
}

.custom-file, .custom-file-input, .custom-file-label {
    cursor: pointer;
}

.page-header {
    display: block;
    position: relative;
}

.page-header .page-profile {
    float: left;
    border-radius: 50%;
    height: 150px;
    margin-left: 5rem;
    margin-right: 5rem;
    overflow: hidden;
    width: 150px;
}

.page-header .page-profile > img {
    height: 100%;
    width: 100%;
}

.page-header .page-title {
    font-size: 1.75rem;
    white-space: nowrap;
}

.page-header .page-title > small {
    font-size: 1rem;
}

.page-header .list-inline-item {
    margin-bottom: calc(.125rem + 4px);
}

.page-header .list-inline-item:not(:last-child) {
    margin-right: .125rem;
}

@media(max-width: 736px) {
    .page-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .page-header .page-profile {
        height: 50px;
        margin-left: 0;
        margin-right: 1.5rem;
        width: 50px;
    }

    .page-header .page-title {
        font-size: 1.75rem;
        line-height: 50px;
        white-space: nowrap;
    }

    .page-header .list-inline {
        width: 100%;
    }
}