<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Picture :: Login</title>

</head>
<body>

    <main class="container">

        <div class="row my-5 py-5">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <header class="d-flex flex-row flex-nowrap">
                    <svg focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="36" class="mr-2"><path fill="currentColor" d="M154 80H38c-3.3 0-6-2.7-6-6V38c0-3.3 2.7-6 6-6h116c3.3 0 6 2.7 6 6v36c0 3.3-2.7 6-6 6zm358 0v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h136l33.6-44.8C226.7 39.1 240.9 32 256 32h208c26.5 0 48 21.5 48 48zm-48 64H48v288h416V144zm0-64H256l-12 16h220V80zm-88 208c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-48 0c0 39.7-32.3 72-72 72s-72-32.3-72-72 32.3-72 72-72 72 32.3 72 72zm-96 0c0-13.2 10.8-24 24-24 8.8 0 16-7.2 16-16s-7.2-16-16-16c-30.9 0-56 25.1-56 56 0 8.8 7.2 16 16 16s16-7.2 16-16z"></path></svg>
                    <h1 class="flex-grow-1 h2">Picture</h1>
                </header>
                {% if token_is_not_set %}
                <div class="alert alert-danger" role="alert">
                    Erreur: <strong>PICTURE_TOKEN</strong> n'est pas défini !
                    Assurez-vous de l'avoir défini en tant que variable d'environnement dans <code>docker-compose.yml</code>.
                </div>
                {% endif %}
                <form action="/login" method="POST">
                    <input type="password" name="token" class="form-control form-control-lg my-2" placeholder="Mot de passe" required="required" autofocus="autofocus">
                    <button class="btn btn-lg btn-dark btn-block" type="submit">Connexion</button>
                </form>
            </div>
        </div>

    </main>

</body>
</html>